<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Thermostat</title>
  <script src="jquery-3.2.1.js"></script>
  <script src="../src/Thermostat.js"></script>
  <script src="../src/jQueryInterface.js"></script>
  <style media="screen">
    #degrees {display: inline;}
  </style>


</head>

<body>

  <h1> Thermostat </h1>
  <h1 id="tempDisplay"> Current Temperature </h1><h1 id="degrees"> degrees C</h1>
  <h3 id="powerSaving"> powerSavingMode On or Off</h3>
  <h3 id="EnergyUsage"> Current Energy Usage </h3>
  <form>
    <input type="submit" id= "up" name="up" value="UP">
    <br>
    <input type="submit" id="down" name="down" value ="DOWN">
    <br>
    <input type="submit" id="psmon" name="psmon" value="Power Saving Mode on">
    <br>
    <input type="submit" id = "psmoff" name="psmoff" value="Power Saving Mode off">
    <br>
    <input type="submit" id="energyusage" name="displayenergyusage" value="Display energy usage">
    <br>
    <input type="submit" id="reset" name="reset" value="Reset">
    <br>
  </form>




</body>
</html>
